* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  color: #282828;
  padding: 30px 0;
}

main {
  height: 100vh;
  background-color: #DAECFD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listItems {
  width: 500px;
  margin: 0 auto;
}

.listItems li {
  list-style: circle;
  list-style-position: inside;
  line-height: 26px;
}

.listItems h1 {
  margin-bottom: 12px;
}

h1.listItems {
  font-size: 1.5em;
  margin-bottom: 12px;
}

/* Card */
.card {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
}
.card__header {
  font-size: 1.5rem;
  font-weight: 600;
  width: 460px;
}
.card__body {
  padding-top: 1.5rem;
}

/* Course List */
.courses {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* Course */
.course {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.course__img {
  border-radius: 6px;
  width: 120px;
}

.course__title {
  font-weight: 500;
  word-break: keep-all;
}
.course__body {
  flex-grow: 1;
}
.course__description {
  color: #777777;
  font-weight: 300;
  margin-top: .4rem;
  word-break: keep-all;
}
.course__icons {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

/* Button */
.btn {
  background: none;
  border: none; /* Remove borders */
  font-size: 20px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.btn > .fa-heart {
  color: red;
}
.btn > .fa-link {
  color: #393939;
}

hr {
  margin: 30px 0;
}

.btn_img {
  width: 20px;
  color: red;
}

button {
  margin: 0 10px 0 0;
  padding: 6px 10px;
  cursor: pointer;
}

